<nav class="navbar navbar-expand-md bg-secondary " style="background-color: rgba(28, 108, 173, 0.644);">
    <div class="container-fluid" style="background-color: rgba(28, 108, 173, 0.644);">
        <a href="principal" class="navbar-brand navbar-dark col-6 align-content-center"
            style="font-size: 24px; font-weight: bold; color: #333; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); margin: 10px 0;">
            CodeXtract Master
        </a>

        <div class="d-flex align-items-center">
            <section class="d-grid justify-content-md-end ml-auto">
                <div class="px-2">
                    <input type="text" class="form-control" style="max-width: 200px;" id="inputUsuario"
                        name="inputUsuario" aria-label="Usuário" aria-describedby="user" value="admin2" readonly>
                </div>
            </section>
            <section class="px-2">
                <a href="login">
                    <button class="btn btn-success" id="btnSair">Sair</button>
                </a>
            </section>
        </div>
    </div>
</nav>